canvas {
    border: 1px black solid;
}
#console {
    border: 1px black solid;
    display:block;
}
div#loading_overlay { 
  color:      #fff;
  opacity:    0.7; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
}